@media screen and (max-width: 1000px){
    .aboutPageBackground {
        background-size: auto 100% !important;
    }    
}

#aboutPage {
    width: 100%;
    top: -10vh;
    height: 110vh;
    position: relative;
    z-index: -1;
}

.aboutPageBackground {
    opacity: 0;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #e1c9ff;
    background-blend-mode: hard-light;
    overflow: hidden;
    min-height: 100vh;
    transition: opacity 1s ease-out;
    display: flex;
    flex-direction: column;
}

#aboutPageHeader {
    background-image: url("../img/about/robert-wiedemann-d9yOg5zP-oQ-unsplash.jpg");
}

#aboutPageHeader > div {
    margin-top: 10vh;
    margin-left: 15%;
    margin-right: auto;
    width: fit-content;
    text-align: center;
    font-size: 3em;
}

.aboutTextBox {
    position: relative;
    width: fit-content;
    max-width: 10em;
    border-radius: 15px;
    font-size: 2em;
    padding: 1em 1em 1em 1em;
    margin-left: 2em;
    background-color: rgba(134, 167, 252, 0);
    color: rgba(0, 0, 0, 0);
    opacity: 0;
    transition-property: opacity;
    transition-delay: 1s;
    transition-duration: 4s;
    overflow: hidden;
}

#aboutBox1 {
    background-image: url("../img/about/etienne-girardet-NGb91VwnOWY-unsplash.jpg");
}

#aboutBox2 {
    background-image: url("../img/about/pierre-chatel-innocenti-pxoZSTdAzeU-unsplash.jpg");
}

.aboutTextBoxFadeIn {
    opacity: 1;
    margin-top: unset;
    background-color: rgba(134, 167, 252, 0.85);
    color: rgba(0, 0, 0, 1);
}

.aboutBoxText2 {
    margin-left: auto;
    margin-right: auto;
}

.aboutBoxText3 {
    align-self: flex-end;
    margin-right: 3em;
}