.navbarBackground {
    padding: 10px 10px 10px 10px;
    min-height: 3em;
    background: linear-gradient(rgb(225, 225, 255, 1), rgba(225, 225, 255, 1) 75%, rgb(225, 225, 255, 0));
    justify-content: space-evenly;

    transition: all 500ms ease-out;
}

.navbarLinks {
    display: flex;
    flex-direction: row;
}

.navbarLink {
    padding-left: 5%;
}

#navbarShoppingCart {
    margin-bottom: auto;
    margin-left: auto;
    min-width: 50px;
}

.navbarLogo {
    font-size: 48px;
    font-family: Brush Script MT, Brush Script Std, cursive;
}