* {
    animation: fadeInChildPage 1s;
}

@keyframes fadeInChildPage {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

body {
    margin: unset;
}

a {
    text-decoration: unset;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0);
    transition: all 250ms ease-in;
    color:rgba(0, 96, 121, 1);
}

a:visited {
    color:rgba(0, 96, 121, 1);
}

a:hover {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.486);
}

.thumbnail {
    width: 100px;
    height: 100px;
}

.button, .dropdown {
    cursor: pointer;
    min-height: 1rem;
    text-align: center;
    border: 1px solid rgba(74, 158, 255, 0.15);
    background-color: rgba(74, 228, 255, 0.15);
    box-shadow: .1rem .1rem .2rem black;
    padding: .2rem .2rem .2rem .2rem;
    user-select: none;
    border-radius: .1rem;
    transition: all 500ms ease-out;
}

.button:hover {
    background-color: rgba(74, 228, 255, 1);
    border: 1px solid rgba(74, 158, 255, 1);
}