@media screen and (max-width: 1199px) {
    .productDetails {
        flex-direction: column;
    }

    #productImages {
        flex-direction: column;
    }

    .productImageList {
        flex-direction: row;
    }

    #productInformation {
        flex-direction: column-reverse;
    }
}

@media screen and (min-width: 1200px) {
    #productImages {
        flex-direction: row;
    }

    #productImages > .productImage {
        width: 30vw;
    }

    product-view > div{
        margin: 0rem auto 0rem auto;
        width: 90%;
    }

    .productImageList {
        flex-direction: column;
    }
}

#productInformation {
    display: flex;
}

.productImageList {
    display: flex;
}

#productImages {
    display: flex;
}

product-view > [boundField="name"] {
    text-align: center;
    font-size: 2em;
}

.productDetails {
    display: flex;
    column-gap: .2rem;
}

.productImage {
    overflow: hidden;
    flex: 2;
}

#mainProductImage {
    width: 100%;
}

product-view > .productDetails > .productImage > [boundField="Image"] {
    max-width: 100%;
    max-height: 100%;
}

product-view > .productDetails > [boundField="Description"] {
    padding: .1rem .1rem .1rem .1rem;
}

#quantitySelector {
    width: 100%;
}

#selectedVariantPrice {
    text-align: center;
}

.productPriceLeft {
    font-size: 2rem;
}

.productPriceLeft::before {
    font-size: 1.8rem;
    content: "$";
    vertical-align: top;
}

.productPriceRight {
    margin-bottom: auto;
    vertical-align: top;
}

product-view > .productDetails > .rightMenu {
    display: flex;
    flex-direction: column;
    flex: 1;
}

[boundField="Variants.arrayValue.values"] {
    display: flex;
}

[boundField="Variants.Name"] {
    display: none;
}

.selectedVariant {
    outline: .1rem solid black;
}

.productVariant {
    margin: .2rem .2rem .2rem .2rem;
    cursor: pointer;
}

#selectedVariantName {
    font-weight: bold;
}

[boundField="Variants.arrayValue.values.mapValue.fields.Images.arrayValue.values"] {
    padding: .2rem .2rem .2rem .2rem;
}

#productVariants {
    flex: 5;
    display: flex;
    flex-direction: column;
}

[bindfieldname] {
    font-weight: bold;
}