#showCartLink {
    cursor: pointer;
    text-align: right;
    align-self: flex-end;
}

#shoppingCartBackground {
    background-color: rgb(0, 0, 0, 0.75);
    display: none;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

#shoppingCart {
    position: absolute;
    background-color: rgb(240, 248, 255);
    padding: 25px 25px 25px 25px;
    left: 5%;
    right: 5%;
    top: 5%;
    bottom: 5%;
    overflow-y: auto;
    font-size: 18px;
    line-height: 1.3em;

}

#cartItemsRender {
    overflow-y: auto;
}

.cartQuantity { 
    display: flex;
    flex-direction: row;
    align-items: center;
}

.shoppingCartItem {
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: row;
}

.shoppingCartItemInfo {
    flex: 3;
}

.shoppingCartItemPrice {
    flex: 1;
    margin-left: auto;
    text-align: right;
    font-weight: bold;
}

.shoppingCartItem > [boundField="Name"] {
    overflow: hidden;
}

.shoppingCartHeader {
    background-color: rgba(0, 68, 255, 0.15);
    min-height: 2em;
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
}

.shoppingCartHeader > div {
    margin-top: auto;
    margin-bottom: auto;
}

.shoppingCartCloseButton {
    margin-left: auto;
    cursor: pointer;
}

#cartTotal {
    padding: 10px 10px 10px 10px;
}

.shoppingCartTotal {
    margin-left: auto;
    text-align: right;
    font-weight: bold;
}

.shoppingCartVariantName {
    font-weight: bold;
}