@media screen and (max-width: 1023px) {
    .shopProductThumb {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1024px) {
    .shopProductThumb {
        margin: .8rem .8rem .8rem .8rem;
    }
}

#shopListProductRender {
    display: flex;
    margin-left: 1vw;
    margin-right: 1vw;
    height: fit-content;
    flex-wrap: wrap;
    font-size: 1.5rem;
}

.shopProductThumb {
    width: 15rem;
    height: auto;
    animation: fadeInProductThumb 1500ms;
    cursor: pointer;
}

@keyframes fadeInProductThumb {
    from { opacity: 0; }
    to { opacity: 1; }
}

.shopProductThumbImage {
    height: 10rem;
/*    height: 15vw; */
    display: flex;
    align-items: center;
}

.shopProductThumbImage > img {
    height: 100%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.shopProductThumb > [boundField="name"] {
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 3.75em;
    font-size: 1.25em;
    -webkit-line-clamp: 3;
    -webkit-text-size-adjust: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.shopListPrice {
    display: flex;
}

.shopListPriceDollars {
    font-size: 1.5em;
}

.shopListPriceCents {
    font-size: .8em;
    margin-bottom: auto;
    width: 100%;
}

#shopListPages {
    text-align: center;
}