#shopListProductRender {
    display: flex;
    margin-left: 1vw;
    margin-right: 1vw;
    height: fit-content;
    flex-wrap: wrap;
}

.shopProductThumb {
    width: 15vw;
    height: auto;
    margin: 10px 10px 10px 10px;
}

.shopProductThumbImage {
    width: 15vw;
    height: 15vw;
    display: flex;
    align-items: center;
}

.shopProductThumbImage > img {
    height: 100%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.shopProductThumb > [boundField="name"] {
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 3.5em;
    -webkit-line-clamp: 3;
    -webkit-text-size-adjust: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.shopListPrice {
    display: flex;
}

.shopListPriceDollars {
    font-size: 22px;
}

.shopListPriceCents {
    font-size: 14px;
    margin-bottom: auto;
    width: 100%;
}

#shopListPages {
    text-align: center;
}